<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/lazy-styles.css">
  <link rel="stylesheet" href="/blocks/fragment/fragment.css">
  <script type="module" src="/scripts/scripts.js"></script>
</head>
<body>
  <header></header>
  <main>
    <div>
      <div class="fragment">
        <div><div><a href="/fragments/promo-banner">https://main--kynetic-trust--znikolovski.aem.live/fragments/promo-banner</a></div></div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>
</html>
